
body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
}

header {
    
    
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

nav {
    height: 25px;
    background-color: #EEE;
    justify-content: center;
    align-items: center;

}
h1 {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 7em;
    height: 7em;
    margin: 5%;
}

.inicio {
    height:200px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 179, 179);
    margin: 0%;
    padding: 0%;
    font-weight: bolder;
}

.boton_base {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #a25dec;
    color: white;
    cursor: pointer;
    align-items: end;
    margin: 5%;
}
.boton_volver {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #a25dec;
    color: white;
    cursor: pointer;
    align-items: end;
}

.caja_login {
    background-color: rgb(196, 179, 179);
    display: flex;
    height: 50%;
}

.boton_login {

    border-radius: 10px;
    padding: 1px 1px;
    border: none;
    background-color: #d1971b;
    color: rgb(27, 27, 170);
    cursor: pointer;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35%;
    font-weight: 20px;
    display: flex;
    margin-left: 70%;


}

.form {
    display: flex;
    align-items: center;
}

.item {
    list-style-type: none;
}

/*footer*/
.footer {
    height: 100px;
    align-items: rigth;
    text-align: right;
 
}

.espacio {
    height: 50px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-top: 5px;
}

.agregar {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.agregar:hover {
    background-color: #45a049;
}

/* login */
.container_login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
    height: 200px;
  }

  .container_login h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    font-weight: bold;
    display: block;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group input[type="submit"] {
    background-color: #be5aec;
    color: #fff;
    cursor: pointer;
  }

  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }


  .informacion {
    list-style: none;
  }

  .footlogos {
    block-size: 1em;
}

/******** */
.error {
    display: inline;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 19, 19);
    
}

.modificar{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #d1971b;
}

.modificar a{
    text-decoration: none;
    color: white;

}

.modificar:hover {
    background-color: #9ea045;
}

.borrar{
    background-color: rgb(226, 16, 16);
    color: white;
}

.borrar:hover {
    background-color: #740000;
}

button.borrar a{
    
    color: white;
    text-decoration: none;
}