
body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    height:200px;
}

header {
    height: 150px;
    background-color: #EEE;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

nav {
    height: 200px;
    background-color: #EEE;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 6em;
    height: 6em;
    margin: 5%;
}

.inicio {
    height:200px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 179, 179);
    margin: 0%;
    padding: 0%;
    font-weight: bolder;
}

.boton_base {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #a25dec;
    color: white;
    cursor: pointer;
    align-items: end;
    margin: 5%;
}
.boton_volver {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #a25dec;
    color: white;
    cursor: pointer;
    align-items: end;
}

.caja_login {
    background-color: rgb(196, 179, 179);
    display: flex;
}

.boton_login {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #088962;
    color: white;
    cursor: pointer;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45%;
    height: 30px;
    display: flex;
    margin-left: 90%;


}

.form {
    display: flex;
    align-items: center;
}

.item {
    list-style-type: none;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #45a049;
 
}



form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


